body {background-color:antiquewhite;}
#ant{
	color:grey;
	
}
#ti{
	margin-top:-18px;
	color:white;
}
#arco,#cath{
	display:inline-block;
	border-radius:5px;
}
#map{
	border-radius:5px;
}
#gua{
	padding-left:0px;
	color:grey;
	border:groove;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	width:400px;
}
#spain{
	border:groove;
	color:grey;
	padding-top:30px;
	padding-bottom:10px;
	border-radius:5px;
	margin-top:0px;
	width:400px;

}
#spain, #gua{
	display:inline-block;
	font-size:19px;
}
#leg{
	color:grey;
}
#res{
	font-size:20px;
	color:grey;
	margin-bottom:5px;
}
#cur{
	margin-bottom:50px;
}
.about{
	background-color:grey;
	color:antiquewhite;
	padding-top:10px;
	padding-bottom:10px;
	text-decoration: none;
	padding-right:20vw;
	padding-left:20vw;
	text-align:center;
	display:block;
}
#hot{
	color:teal;

}
#in{
	color:teal;
	margin-top:-15px;
}
#casa,#maya,#cami,#port{
	display:block;
	text-decoration: none;
	color:teal;
	
}
#mat{
	color:antiquewhite;
	background-color: teal;
	padding-top:10px;
	padding-bottom:10px;
}
#san{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
}
#mino{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
}
#ort{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
}
#euro{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;

}
.star{
	color:white;
	background-color: teal;
	font-size:20px;
}
#go, #san, #go{
	display:inline-block;

}
#real, #mino, #ami{
	display:inline-block;
}
#rta, #ort, #or{
	display:inline-block;
}
#gran, #euro,#plaza{
	display: inline-block;
}
#vit{
	color:grey;
	margin-bottom:-10px;
}
.place{
	background-color:grey;
	color:antiquewhite;
}
.info{
	color:grey;
}
#one, #ten, #total,#fif,#hun{
	display:inline;
}

#cul{
	color:teal;
}
#trad,#folk,#holy,#car,#fest{
	color:grey;
	border-right: solid;
	border-left:solid;
	width:550px;
	border-color: teal;
	border-radius:10px;
}
h2{
	color:teal;
}
#about{
	color:grey;
}
#out{
	border-right:solid;
	border-left:solid;
	width:250px;
	border-radius:10px;
	color:grey;
}
#out, #page{
	display:inline-block;
}
#page{
	width:500px;
	margin-left:50px;
	color:grey;
	border-top:solid;
	border-bottom:solid;
	border-radius:5px;
	border-color:grey;
}
#make{
	color:grey;
	width:300px;
}
#cur{
	color:teal;
}
#warn{
	background-color: teal;
	color:antiquewhite;
	font-size: 15px;
}
.q{
	color:teal;
	
}
#anti{
	color:teal;
	margin-top:-40px;
	margin-bottom:30px;
}
#quiz{
color:teal;
}
#button{
	background-color:antiquewhite;
	color:teal;
	font-family: Georgia, 'Times New Roman', Times, serif;
	transition-duration: .5s;
	border:none;
}
#button:hover {
	background-color:white;
	color:black;
}
#message, #number_correct{
color:teal;
text-size:20px;
}
