body {background-color:antiquewhite;}
#ant{
	color:grey;
	
}
#ti{
	margin-top:-18px;
	color:white;
}
#arco,#cath{
	display:inline-block;
	border-radius:5px;
}
#map{
	border-radius:5px;
}
#gua{
	padding-left:0px;
	color:grey;
	border:groove;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
	width:400px;
}
#spain{
	border:groove;
	color:grey;
	padding-top:30px;
	padding-bottom:10px;
	border-radius:5px;
	margin-top:0px;
	width:400px;

}
#spain, #gua{
	display:inline-block;
	font-size:19px;
}
#leg{
	color:grey;
}
#res{
	font-size:20px;
	color:grey;
	margin-bottom:5px;
}
#cur{
	margin-bottom:50px;
}
.about{
	background-color:grey;
	color:antiquewhite;
	padding-top:10px;
	padding-bottom:10px;
	text-decoration: none;
	padding-right:20vw;
	padding-left:20vw;
	text-align:center;
	display:block;
}
#hot{
	color:teal;

}
#in{
	color:teal;
	margin-top:-15px;
}
#casa,#maya,#cami,#port{
	display:block;
	text-decoration: none;
	color:teal;
	
}
#mat{
	color:antiquewhite;
	background-color: teal;
	padding-top:10px;
	padding-bottom:10px;
}
#san{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
}
#mino{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
}
#ort{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;
}
#euro{
	border:groove;
	border-width: thin;
	color:grey;
	width:200px;
	padding-top:5px;
	padding-bottom:5px;

}
.star{
	color:white;
	background-color: teal;
	font-size:20px;
}
#go, #san, #go{
	display:inline-block;

}
#real, #mino, #ami{
	display:inline-block;
}
#rta, #ort, #or{
	display:inline-block;
}
#gran, #euro,#plaza{
	display: inline-block;
}
#vit{
	color:grey;
	margin-bottom:-10px;
}
.place{
	background-color:grey;
	color:antiquewhite;
}
.info{
	color:grey;
}
#one, #ten, #total,#fif,#hun{
	display:inline;
}

#cul{
	color:teal;
}
#trad,#folk,#holy,#car,#fest{
	color:grey;
	border-right: solid;
	width:550px;
}
h2{
	color:teal;
}










