.iphone{
	display:inline-block;
	background-color:#303030;
	color:#d6d6d6;
	padding-top:10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right:15px;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.phone {
	display:inline-block;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}
#daily{
	background-color: #f5f5f7;
	font-family: #1d1d1f;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#buy{
	color:white;
	background-color:blue;
	border-radius:17px;
	padding-bottom: 10px;
	padding-top:10px;
	padding-left:15px;
	padding-right:15px;
}
#learn
{
	padding-left: 15px;
}
