#dis, #dep,#tea,#en,#em,#fam,#cov{
	display:inline;
	padding-left:30px;
	padding-right:30px;
	padding-bottom: 30px;
	font-family:"irish-growler";
	background-color:#FFC300;
	color:blue;
	font-size: 20px;
	
}
#logo{
	margin-top:40px;
}
