.side, #tool,#tribute,#print,#sid,#other,#lan,#c,#mich,#pre,#motto,#loc,.country,#state,#mn,#county,#w{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}








#article,#talk,#read,#edit,#view{
	display:inline-block;
	
}
#article, #talk{
	padding-left:10px;
}
#article{
	margin-left:1px;
}
#talk{
	margin-right:450px
}
#read, #edit,#view{
	padding-left:5px;
	padding-right:5px;
	
}
#logo{
	padding-bottom:25px
}
.bar{
	background:#E7E7E7;
	display:inline-block;
}
.barside {
	display:inline-block;
	border:solid;
	width: 260px;
	
}
#mich, #c, #pre,#motto,#loc,#w{
	border-bottom: solid;
	margin-top: 10px;
}
#time{
	border-top:solid;
}

#c{
	background-color:#C2E0FF;
}
#st{
	padding-left:14px;
}
#t{
	padding-left:14px;
}
.country{
	display:inline-block;
}
#state,#mn{
	diplay:inline-block;
	
}

.side{
	display:block;
	margin-left:-2px;
	padding-top:5px;
	
	
}
#tool, #tribute,#print,#other, #lan{
	margin-left: -2px;
	
}

#sid{
	color:blue;
	
}


#city{
	margin-left:15px;
}
hr, .wiki{
	margin-left:15px;
}
#wik{
	font-size: 13px;
	margin-left:15px;
}
.content{
	margin-left:15px;
	
}
.tent{
	border:solid;
	display:inline-block;
	padding-right:10px;
	
}
.content2{
	margin-left:35px;
}
.area, #trans{
	margin-left: 15px;
}

.census{
	font-weight:0;
	margin-left:15px;
	font-size: 20px;
}

.election{
	margin-left:15px;
	background-color:#D0CAEA
	
}
.people{
	margin-left:15px;
	padding-bottom: 10px;
	font-family: Arial;
	font-size:14px;
}
.references{
	margin-left: 15px;
	font-family:arial;
	font-size:14px;
	padding:5px;
}





