#article,#talk,#read,#edit,#view{
	display:inline-block;
	
}
#article, #talk{
	padding-left:10px;
}
#article{
	margin-left:1px;
}
#talk{
	margin-right:450px
}
#read, #edit,#view{
	padding-left:5px;
	padding-right:5px;
	
}
.side{
	display:block;
}
#main, #content,#events,#random,#pedia,#contact,#donate, #help, #edit2, #portal,#change,#upload{
	display:block;
}

#city{
	margin-left:15px;
}
hr, .wiki{
	margin-left:15px;
}
#wik{
	font-size: 13px;
	margin-left:15px;
}
.content{
	margin-left:15px;
	
}
.tent{
	
	padding-right:10px;
	
}
.content2{
	margin-left:18px;
}
.area, #trans{
	margin-left: 15px;
}

.census{
	font-weight:0;
	margin-left:15px;
	font-size: 20px;
}

.election{
	margin-left:15px;
	background-color:#cddeff;
	
}
.people{
	margin-left:15px;
	padding-bottom: 10px;
}
.references{
	margin-left: 15px;
}





